// Ovveride bulma variables

// Ovveride bulma primary font
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-tertiary: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

$family-primary: $font-primary;

// BUTTONS
$btn-primary: $brand-tertiary;
$btn-primary-invert: #2D9C6E;
$primary: $btn-primary;
$primary-invert: $btn-primary-invert;

$grey-darker: #B5B5B5;

// BULMA SLIDER EXTENSION VARS
$slider-track-background: rgba(89,125,132,0.5);

// TITLES
$title-color: #000;

body {
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

// Override bulma button text colour
.button.is-primary {
  color: $white;
}

.button.is-light {
  color: $white;
  background-color: $grey-darker;

  &:disabled {
    background-color: $grey-darker;
    opacity: 0.5;
  }
}

// Override bulma largest title font size
.title.is-1 {
  font-weight: 300;
  
  @include mq($from: fullhd) {
    font-size: 4.4rem;
  }
}

// is-rounded modifier (to be introduced in bulma 0.6.2)
.button.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

// FIXED NAVS OVERRIDES
html.has-navbar-fixed-top {
  padding-top: 60px;

  @include mq($from: desktop) {
    padding-top: 130px;
  }
}
html.has-navbar-fixed-bottom {
  padding-bottom: 100px;

  @include mq($from: desktop) {
    padding-bottom: 120px;
  }
}