// GLOBAL STYLES IN THIS FILE
// IMPORT FILES
@import '~bulma'; // MAIN BULMA IMPORT
@import '~sass-mq';
@import './breakpoints';

// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,500,700');

// VARIABLES
$white: #FFF;
$brand-primary: #34A3B4;
$brand-secondary: #E1F1F3;
$brand-tertiary: #35B57F;

.module {
  background-color: $brand-secondary;
  border-radius: 5px;
  padding: 15px 10px;

  @include mq($from: desktop) {
    padding: 30px 15px;  
  }
}

// IMPORT OTHER SCSS FILES
@import './bulma-overrides';

// BULMA EXTENSIONS
@import '~bulma-slider'; 