.ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.75rem;
  background-size: 100%;  
  background-repeat: no-repeat;

  @include mq($from: desktop) {
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;
    background-position: 0 50%;
  }
  
  &--help {
    background-image: url('../assets/ui/icons/help-icon.png');

    @media only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
      background-image: url('../assets/ui/icons/help-icon@2x.png');
    }
  }
  &--pref {
    background-image: url('../assets/ui/icons/preferences-icon.png');

    @media only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
      background-image: url('../assets/ui/icons/preferences-icon@2x.png');
    }
  }
  &--logout {
    background-image: url('../assets/ui/icons/logout-icon.png');

    @media only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
      background-image: url('../assets/ui/icons/logout-icon@2x.png');
    }
  }
}